<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form method="post" action="/weather/<%=weather._id%>?_method=put">
                <fieldset>
                    <legend>Create a new location</legend>
                    <label>Location: <input required type="text" name="name" placeholder="enter location" value="<%=location.name%>"/></label>
                    <label>Activity: <input required type="text" name="name" placeholder="enter activity" value="<%=activity.name%>"/></label>
                    <label>Temperature: <input required type="number" name="number" placeholder="enter temperature" value="<%=temperature.number%>"/></label>
                    <label>Wind Speed: <input required type="number" name="number" placeholder="enter wind speed" value="<%=windSpeed.number%>"/></label>
                    <label>Precipitation: <input required type="text" name="number" placeholder="enter precipitation" value="<%=precipitation.name%>"/></label>
                    <label>To go:
                        <input
                            type="checkbox"
                            name="toGo"
                            <%=weather.toGo ? "checked" : "" %>/>
                    </label>
                    <input type="submit" value="edit location"/>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>