<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form method="post" action="/weather/<%=weather._id%>?_method=put">
                <fieldset>
                    <legend>Edit a location</legend>
                    <label>Location: <input required type="text" name="location" placeholder="enter location" value="<%=weather.location%>"/></label>
                    <label>Activity: <input required type="text" name="activity" placeholder="enter activity" value="<%=weather.activity%>"/></label>
                    <label>Temperature: <input required type="number" name="temperature" placeholder="enter temperature" value="<%=weather.temperature%>"/></label>
                    <label>Wind Speed: <input required type="number" name="windSpeed" placeholder="enter wind speed" value="<%=weather.windSpeed%>"/></label>
                    <label>Precipitation: <input required type="text" name="precipitation" placeholder="enter precipitation" value="<%=weather.precipitation%>"/></label>
                    <input type="submit" value="Edit Location"/>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>