<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <article>
                <h2><%= weather.location%> - <%=weather.toGo ? "Yes" : "No" %></h2>
                <h3><%= weather.activity%></h3>
                <h3><%= weather.temperature%></h3>
                <h3><%= weather.windSpeed%></h3>
                <h3><%= weather.precipitation%></h3>
                <img src="<%= weather.img %>" />
                <a href="/weather/<%=weather._id %>/edit"><button>Edit</button></a>
                <form action="/weather/<%=weather._id %>?_method=DELETE" method="post">
                    <input type="submit" value="delete"/>
                </form>
                <a href="/weather"><button>Back to main</button></a>
            </article>
        </div>
    </main>
</body>
</html>